.content {
  width: 1440px;
  margin: 0 auto;
  background-color: #EBEEF3;
}

.contentList { 
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 0 auto;
    margin-top: 26px;
    
}

.contentList-PostHeader {
    display: flex;
    justify-content: space-between;
}

.contentList-PostHeader___content-title {
    display: flex;   
}

.contentList-PostHeader___content-title-link {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(24, 144, 255, 1);
    margin-right: 12px;
}

.contentList-PostHeader___content-like {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contentList-PostHeader___content-like-anticon {
    
}

.contentList-PostHeader___content-tags-tag {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 4px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 8px;
  }
  
  .contentList-PostHeader___content-description {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .contentList-PostHeader___content-body {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

.contentList-PostHeader___sidebar-author {
  align-items: center;
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: flex-end;
   
}

.contentList-PostHeader___sidebar-author-info {
    font-family: Inter UI;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    overflow-wrap: anywhere / break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}


.contentList-PostHeader___sidebar-author-info-date {
    font-family: Inter UI;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;    
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    
    white-space: nowrap;
}

.contentList-PostHeader___sidebar-avatar {
  width: 46px;
  height: 46px;
  background-color: #F4F8FF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  flex-shrink: 0; 
  
}

.contentList-PostHeader___sidebar-buttones {
margin-top: 24px;
margin-left: -95px;
}

.contentList-PostHeader___sidebar-buttones-delete {

}
.contentList-PostHeader___sidebar-buttones-delete {
  width: 100px; 
  height: 32px;
  border: 1px solid var(--highlight-color, #f5222d);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color:  #f5222d;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5714285714285714;
  margin-left: 18px;
}

.contentList-PostHeader___sidebar-buttones-delete:hover {
  border: 1px solid #F5B9BC;
  border-radius: 5px;
  transform: scale(1);
}


.contentList-PostHeader___sidebar-buttones-edit {
  width: 100px; 
  height: 32px;
  border: 1px solid var(--highlight-color, rgba(82, 196, 26, 1));
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: rgba(82, 196, 26, 1);
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5714285714285714;
  margin-left: 18px;
}

.contentList-PostHeader___sidebar-buttones-edit:hover {
  border: 1px solid #C0E1BC;
  border-radius: 5px;
  transform: scale(1);
}




